
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>Pricing is assoication with financial analysis of items like - Varible Cost, Fixed Cost, Break even point etc... </div>
<div>WIP</div>