@model RestaurantManagementSystems.PayrollSystem.Models.Salaries

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Salaries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SailaryID" />
            <div class="form-group">
                <label asp-for="SailaryMonth" class="control-label"></label>
                <input asp-for="SailaryMonth" class="form-control" />
                <span asp-validation-for="SailaryMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SailaryAmount" class="control-label"></label>
                <input asp-for="SailaryAmount" class="form-control" />
                <span asp-validation-for="SailaryAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherGifts" class="control-label"></label>
                <input asp-for="OtherGifts" class="form-control" />
                <span asp-validation-for="OtherGifts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <p class="button">
        @Html.ActionLink("Back to List", "Index", "Employees")
    </p>
</div>

