@model int

@{
    ViewBag.Title = "Checkout Complete"; }
<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    Click for New Order @Html.ActionLink("store", "Index1", "MenuItems")
</p>
